/* line 1, ../scss/layout.scss */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 2, ../scss/layout.scss */
body {
  margin: 0;
}

/* line 3, ../scss/layout.scss */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 4, ../scss/layout.scss */
a {
  color: #fff;
  text-decoration: none;
}

/* line 7, ../scss/layout.scss */
li {
  height: 300px;
  margin-bottom: 20px;
  background: tomato;
}

/* line 8, ../scss/layout.scss */
li h2 {
  margin: 20px 20px 0;
}

/* line 9, ../scss/layout.scss */
li p {
  margin: 0 20px 20px;
}
